.login-container {
    background-color: #494CA2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
    font-family: sans-serif;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

@media (min-width: 576px) {
    .login-container {
        width: auto;
    }
}

.logo {
    font-size: 2.5rem;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.logo-icon {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
    position: relative;
    background: aliceblue;
    border-radius: 50%;
    padding: 5px;
}

.form-group {
    margin-bottom: 20px;
    width: 90%;
    max-width: 350px;
    /* Adjust as needed */
}

.form-control {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
    color: #494CA2;
    box-sizing: border-box;
    background-color: #b9b9df;
}

.form-control::placeholder {
    color: #ccc;
}

.form-text {
    display: block;
    margin-top: 5px;
    font-size: 10px;
    color: #eee !important;
    padding-bottom: 10px;
}

.otp-text {
    color: #eee;
    font-size: 13px;
    font-weight: 600;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@keyframes moveBG {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 1000px 1000px;
    }
}

.animated-bg {
    background: url('https://www.transparenttextures.com/patterns/45-degree-fabric-light.png'),
        #1e3a8a;
    background-size: 200px 200px;
    animation: moveBG 60s linear infinite;
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #0000003e;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-image {
    width: 400px;
    height: 350px;
}

.sync-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.spinner {
  margin-top: 1rem;
  width: 3rem;
  height: 3rem;
  border: 0.5rem solid #cbd5e1; /* light gray */
  border-top: 0.5rem solid #3b82f6; /* blue */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.ready-message {
  margin-top: 1rem;
  font-weight: bold;
  color: green;
}
