<div class="gallery-container">
    <!-- Header -->
    <header class="header" [class.scrolled]="isHeaderScrolled">
        <div class="header-content">
            <div class="logo-section">
                <div class="logo-icon">
                    <img [src]="userData?.studio_icon" alt="Logo">
                </div>
                <div class="brand-info">
                    <h1 class="brand-name">{{userData?.studio_name}}</h1>
                    <p class="brand-location">{{userData?.address}}</p>
                    <p class="brand-location">{{userData?.phone_number}}</p>
                </div>
            </div>
        </div>
    </header>

    <!-- Carousel Section -->
    <div class="carousel-wrapper">
        <div class="carousel">
            <div class="carousel-inner" [style.transform]="'translateX(-' + currentSlide * 100 + '%)'">
                <div class="carousel-item" *ngFor="let image of carouselImages">
                    <img [src]="image?.url" alt="Carousel Image" />
                </div>
            </div>

            <button class="carousel-btn prev" (click)="prevSlide()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                </svg>
            </button>

            <button class="carousel-btn next" (click)="nextSlide()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </button>

            <div class="carousel-indicators">
                <button *ngFor="let image of carouselImages; let i = index" [class.active]="currentSlide === i"
                    (click)="goToSlide(i)">
                </button>
            </div>
        </div>
        <button class="open-camera-btn" (click)="openCameraModal()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M15 13a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
            Open Camera
        </button>
    </div>

    <div class="container-fluid mt-6 p-3 flex justify-center items-center">
        <div class="row g-0" *ngIf="youtubeCoverUrl">
            <iframe [src]="youtubeCoverUrl" width="350" height="220" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>    
            </iframe>
        </div>
    </div>
    <!-- Tabs Section -->
    <div class="tabs-wrapper">
        <div class="tabs">
            <ng-container *ngIf="isBrowseAllFolder else noBrowseAll">
                <button class="tab-btn m-1" [class.active]="activeTab === 'browse'"
                    (click)="activeTab = 'browse'; activeFolderTab = null; onFolderChange(null)">
                    Browse All Photos
                </button>
            </ng-container>
            <button class="tab-btn m-1" [class.active]="activeTab === 'matched'" *ngIf="matchedImages.length > 0"
                (click)="activeTab = 'matched'; activeFolderTab = 'matched'; photos = matchedImages">
                Matched Photos
            </button>

            <ng-container *ngIf="isBrowseAllFolder else noBrowseAll">
                <div class="" *ngIf="folders.length > 0">
                    <button class="tab-btn m-1" *ngFor="let folder of folders"
                        [class.active]="activeFolderTab == folder.folder_id"
                        (click)="activeFolderTab = folder.folder_id; activeTab = ''; onFolderChange(folder.folder_id)">
                        {{ folder.folder_name }}
                    </button>
                </div>
            </ng-container>

            <ng-template #noBrowseAll>
                <h1 class="text-center">Please add your selfie above!</h1>
            </ng-template>
        </div>
    </div>

    <!-- Gallery Grid -->
    <div class="gallery-grid" *ngIf="photos && photos.length > 0 && activeTab !== 'matched'; else showFallback">
        <ng-container>
            <div class="gallery-item" *ngFor="let image of photos; trackBy: trackPhotos;let i = index"
                [style.animation-delay]="i * 0.05 + 's'">
                <img [src]="image.photo_url" [alt]="image.title" loading="lazy" />
                <div class="overlay">
                    <button class="action-btn view-btn" (click)="openModal(image)">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                        </svg>
                        View
                    </button>
                    <button class="action-btn download-btn" (click)="downloadSinglePhoto(image, i)">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                        </svg>
                        Download
                    </button>
                </div>
            </div>
        </ng-container>
    </div>

    <ng-container *ngIf="activeTab === 'matched'">
        <div class="gallery-grid" *ngIf="matchedImages.length > 0 else onlyMatched">
            <div class="gallery-item" *ngFor="let image of matchedImages; trackBy: trackPhotos; let i = index"
                [style.animation-delay]="i * 0.05 + 's'">
                <img [src]="image" [alt]="image.title" loading="lazy" />
                <div class="overlay">
                    <button class="action-btn view-btn" (click)="openMatchedModal(image)">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                        </svg>
                        View
                    </button>
                    <button class="action-btn download-btn" (click)="downloadSinglePhoto(image, i)">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                        </svg>
                        Download
                    </button>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="loading">
        <div class="flex w-full justify-center items-center">Loading......</div>
    </ng-container>

    <ng-template #onlyMatched>
        <h1 class="text-center">No Faces Found !</h1>
    </ng-template>
    <ng-template #noBrowseAll>
        <h1 class="text-center">Please add your selfie above!</h1>
    </ng-template>

    <ng-template #showFallback>
        <!-- Case 1: isBrowseAllFolder = false -->
        <h1 class="text-center text-light mt-3 text-lg text-white" *ngIf="!isBrowseAllFolder">
            Capture your smile above
        </h1>

        <!-- Case 2: Browse all but no folder selected -->
        <h1 class="text-center text-light mt-3 text-lg text-white"
            *ngIf="isBrowseAllFolder && !activeFolderTab && activeTab !== 'matched'">
            Please select any folder event
        </h1>

        <!-- Case 3: No photos found -->
        <!-- <h1 class="text-center text-light" *ngIf="photos?.length === 0 && activeTab !== 'matched' && !activeFolderTab">
                            Photos haven't been uploaded yet.
                        </h1> -->
    </ng-template>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-top">
                <div class="footer-logo-section">
                    <div class="footer-logo-icon">
                        <img [src]="userData?.studio_icon" alt="Logo">
                    </div>
                    <div class="footer-brand-info">
                        <h1 class="brand-name">{{userData?.studio_name}}</h1>
                        <p class="brand-location">{{userData?.address}}</p>
                        <p class="brand-location">{{userData?.phone_number}}</p>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; {{ currentYear }} {{userData?.studio_name}}. All rights reserved.</p>
            </div>
        </div>
    </footer>

    <!-- Modal -->
    <div class="modal" *ngIf="isModalOpen" (click)="closeModal()">
        <div class="modal-content" (click)="$event.stopPropagation()">
            <button class="modal-close" (click)="closeModal()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>

            <button class="modal-nav prev" (click)="prevImage()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                </svg>
            </button>

            <div class="modal-image-wrapper">
                <img [src]="currentImage?.photo_url" [alt]="currentImage?.title" class="modal-image" />
                <div class="modal-title">{{ currentImage?.title }}</div>
            </div>

            <button class="modal-nav next" (click)="nextImage()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </button>
        </div>
    </div>
    <!-- AI MATCHED MODAL -->
    <div class="modal" *ngIf="isMatchedModalOpen" (click)="closeModal()">
        <div class="modal-content" (click)="$event.stopPropagation()">
            <button class="modal-close" (click)="closeModal()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
            <!-- 
            <button class="modal-nav prev" (click)="prevImage()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                </svg>
            </button> -->

            <div class="modal-image-wrapper">
                <img [src]="currentImage" [alt]="currentImage?.title" class="modal-image" />
                <div class="modal-title">{{ currentImage?.title }}</div>
            </div>

            <!-- <button class="modal-nav next" (click)="nextImage()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </button> -->
        </div>
    </div>
    <div class="camera-modal" *ngIf="isCameraModalOpen">
        <div class="camera-modal-content">
            <div class="camera-header">
                <h2>Camera</h2>
                <button class="camera-close-btn" (click)="closeCameraModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>

            <div class="camera-viewer">
                <div *ngIf="isMobile; else desktopUI">
                    <input #mobileCamInput type="file" accept="image/*" capture hidden
                        (change)="onMobilePhotoCapture($event)" />
                </div>
                <ng-template #desktopUI>
                    <video id="cameraVideo" autoplay playsinline></video>
                </ng-template>
            </div>

            <div class="camera-controls">
                <div class="phone-input-group" *ngIf="userData?.need_customer_number">
                    <label for="phoneNumber">Contact Number</label>
                    <input type="tel" id="phoneNumber" [(ngModel)]="aiGuestConfig.phone"
                        placeholder="Enter phone number" maxlength="10" pattern="[0-9]*" inputmode="numeric"
                        class="phone-input" />
                </div>
                <button class="capture-btn" (click)="captureImage()" [disabled]="isLoading" *ngIf="!isMobile">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M15 13a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                    Capture <div role="status" *ngIf="isLoading">
                        <svg aria-hidden="true"
                            class="inline w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-gray-600 dark:fill-gray-300"
                            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                fill="currentColor" />
                            <path
                                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                fill="currentFill" />
                        </svg>
                    </div>
                </button>
                <button class="capture-btn" (click)="submitPhoto()" [disabled]="isLoading" *ngIf="isMobile">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M15 13a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                    Submit <div role="status" *ngIf="isLoading">
                        <svg aria-hidden="true"
                            class="inline w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-gray-600 dark:fill-gray-300"
                            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                fill="currentColor" />
                            <path
                                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                fill="currentFill" />
                        </svg>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="loader-overlay" *ngIf="isLoading">
    <img src="../../../../assets/gif_logo.gif" alt="Loading..." class="loader-image" />
</div>